<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>账号信息</h1>

<hr width="80%">

<table border="1" width="600" cellspacing="0">
    <thead>
        <tr>
            <th>序号</th>
            <th>账号</th>
            <th>密码</th>
{#            <th>相关操作</th>#}
        </tr>
    </thead>

    <tbody>
    {% for user in userList %}
        <tr>
            <td>{{ user.userno }}</td>
            <td>{{ user.uaccount }}</td>
            <td>{{ user.upassword }}</td>
{#            <td>#}
{#                <button id="btnUpdate" onclick="preUpdateUser({{ user.userno }})">更新</button>#}
{#                <button id="btnDelete" onclick="preDeleteUser({{ user.userno }})">删除</button>#}
{#            </td>#}
        </tr>
    {% endfor %}
    </tbody>

    <li>
        <a href="/app01/addUser/">添加新账号</a>
    </li>


    <li>
        请输入要进行操作的序号
        <input type="text" id="no">
        <button id="btnUpdate" onclick="preUpdateUser()">更新</button>
{#        <input type="button" value="更新" id="btnUpdate">#}
        <input type="button" value="删除" id="btnDelete">
    </li>


</table>
</body>

    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
    <script>
        // 更新的函数
        function preUpdateUser(){
            // 发送更新数据前的查询请求
            window.location = "/app01/preUpdateUserById/" + $("#no").val();
         }
        {##}
        {#// 删除的函数#}
        {#function preDeleteUser(userno){#}
        {#    // 确认框#}
        {#    if(confirm("确定要删除该账号吗?")){#}
        {#        // 删除#}
        {#        url = "/app01/deleteUser/" + userno;#}
        {##}
        {#        window.location = url;#}
        {#    }#}
        {# }#}

        $("#btnDelete").on("click", function () {
            $.ajax({
                url: "/app01/ajax_delete/",
                type: "DELETE",
                data: {"userno": $("#no").val()},
                success: function (data) {
                }
            })
        });


    </script>

</html>